---
layout: home
---
<div id="articles" class="articles">
	<div id="blog" class="panel">
		<div class="row fullwidth">
			<div class="large-6 columns text-right">
				<h1>Articles</h1>
			</div>
			<div class="large-6 columns"></div>
		</div>	
	</div>
	
	{% for post in paginator.posts %}

	<article class="article {{ post.text_color }} {% if paginator.page != 1 %}poof{% else %}alapeanutbuttersandwiches{% endif %}" style="background-image: url({{ post.featured_image | prepend: site.baseurl }});" data-stellar-background-ratio="0.3">
		<div class="container" style="background: {{ post.bg_color }}">
			<div class="row fullwidth">
				<div class="large-2 columns">
					&nbsp;
				</div>
				<div class="large-4 columns text-right">
					<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
				</div>
			  	
			  	<div class="large-4 columns hide-for-small">
			  		<p class="lead">{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 60 }}</p>
			  		<p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">continue reading...</a></p>
			  	</div>	  
			  	<div class="large-2 columns">
			  		<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
			  	</div>
			</div>			
		</div>
	</article>

	{% endfor %}
	<hr>

	{% if paginator.total_pages > 1 %}
	<div class="row fullwidth">
		<div class="large-8 large-centered columns text-center">
			<ul class="pagination">
			{% if paginator.previous_page %}
				<li class="arrow"><a href="{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo; Prev</a></li>
			{% else %}
				<li class="arrow unavailable"><span>&laquo; Prev</span></li>
			{% endif %}
			
			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
		    		<li class="current"><a><em>{{ page }}</em></a></li>
				{% elsif page == 1 %}
					<li><a href="{{ '/index.html' | replace: '//', '/' }}">{{ page }}</a></li>
			    {% else %}
			      	<li><a href="{{ site.url }}/articles/{{ page }}">{{ page }}</a></li>
			    {% endif %}
			{% endfor %}

			{% if paginator.next_page %}
				<li class="arrow"><a href="{{ paginator.next_page_path | replace: '//', '/' }}">Next &raquo;</a></li>
			{% else %}
				<li class="arrow unavailable"><span>Next &raquo;</span></li>
			{% endif %}	
			</ul>
			
			
		</div>
	</div>
	{% endif %}

</div>