---
layout: default
---

{% if paginator.page != 1 %}

<div class="articles">

	<div class="row">
		<div class="large-8 columns">
			{% for post in paginator.posts %}
			<article>
			  <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
			  <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
			  {{ post.excerpt }} 
			  <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">continue reading...</a></p>
			</article>

			{% endfor %}

			{% if paginator.total_pages > 1 %}
			<div class="pagination">
			  {% if paginator.previous_page %}
			    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
			  {% else %}
			    <span>&laquo; Prev</span>
			  {% endif %}

			  {% for page in (1..paginator.total_pages) %}
			    {% if page == paginator.page %}
			      <em>{{ page }}</em>
			    {% elsif page == 1 %}
			      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			    {% else %}
			      <a href="{{ site.url }}/articles/{{ page }}">{{ page }}</a>
			    {% endif %}
			  {% endfor %}

			  {% if paginator.next_page %}
			    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
			  {% else %}
			    <span>Next &raquo;</span>
			  {% endif %}
			</div>
			{% endif %}

		</div>

		<div class="large-4 columns">
		  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		</div>
	</div>

</div>

{% else %}

<div id="masthead" class="fullscreen">
  <ul class="example-orbit" data-orbit data-options="bullets: false;">
    
    <li style="background-image: url(../assets/images/bnr-slide-manila-bay-grayscale.jpg); background-size:cover; ">
      
    </li>

    <li style="background-image: url(../assets/images/bnr-slide-manila-bay.jpg); background-size:cover; ">
      
    </li>

  </ul>    
</div>

<div class="articles">

	<div class="row">
		<div class="large-8 columns">
			{% for post in paginator.posts %}
			<article>
			  <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
			  <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
			  {{ post.excerpt }} 
			  <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">continue reading...</a></p>
			</article>

			{% endfor %}

			{% if paginator.total_pages > 1 %}
			<div class="pagination">
			  {% if paginator.previous_page %}
			    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
			  {% else %}
			    <span>&laquo; Prev</span>
			  {% endif %}

			  {% for page in (1..paginator.total_pages) %}
			    {% if page == paginator.page %}
			      <em>{{ page }}</em>
			    {% elsif page == 1 %}
			      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }} testing</a>
			    {% else %}
			      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			    {% endif %}
			  {% endfor %}

			  {% if paginator.next_page %}
			    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
			  {% else %}
			    <span>Next &raquo;</span>
			  {% endif %}
			</div>
			{% endif %}

		</div>

		<div class="large-4 columns">
		  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		</div>
	</div>

</div>


{% endif %}

