<div id="masthead" class="fullscreen">
  <ul class="example-orbit" data-orbit data-options="bullets: false; navigation_arrows: false; slide_number: false;">
	<li style="background-image: url({{ site.baseurl }}/assets/images/bnr-slide-dfa-grayscale.jpg);"></li>
	<!-- <li style="background-image: url({{ site.baseurl }}/assets/images/bnr-slide-neb-grayscale.jpg);"></li> -->

<!-- 	<li style="background-image: url({{ site.baseurl }}/assets/images/bnr-slide-neb.jpg); background-size:cover; "></li>
    
    <li style="background-image: url({{ site.baseurl }}/assets/images/bnr-slide-manila-bay-grayscale.jpg); background-size:cover; "></li>

    <li style="background-image: url({{ site.baseurl }}/assets/images/bnr-slide-manila-bay.jpg); background-size:cover; "></li> -->

  </ul>    
</div>