

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:sitename" content="{{ site.title }}" />
	<meta itemprop="name" content="{{ page.title }}">
	{% if page.excerpt %}
	
	<!-- description -->
	<meta name="twitter:description" content="{{ page.excerpt }}">
	<meta property="og:description" content="{{ page.excerpt }}" />
	<meta itemprop="description" content="{{ page.excerpt }}">
	<meta name="description" content="{{ page.excerpt }}" />
	{% else %}
	<!-- default description -->
	<meta name="twitter:description" content="Archon Digital, World Domination and the Internet - {{ site.description }}">
	<meta property="og:description" content="Archon Digital, World Domination and the Internet - {{ site.description }}" />
	<meta itemprop="description" content="Archon Digital, World Domination and the Internet - {{ site.description }}">
	<meta name="description" content="Archon Digital, World Domination and the Internet - {{ site.description }}" />
	{% endif %}
	<meta name="twitter:creator" content="@archondigital">
	<meta name="twitter:domain" content="archon.digital{{ page.url }}">
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://archon.digital{{ page.url }}" />
	{% if page.featured_image %}
	<!-- featured image -->
	<meta property="og:image" content="{% if page.featured_image_thumb %}{{ page.featured_image_thumb | prepend: site.baseurl }}{% else %}{{ page.featured_image | prepend: site.baseurl }}{% endif %}" />
	<meta name="twitter:image:src" content="{% if page.featured_image_thumb %}{{ page.featured_image_thumb | prepend: site.baseurl }}{% else %}{{ page.featured_image | prepend: site.baseurl }}{% endif %}">
	<meta name="twitter:card" content="summary_large_image">
	{% else %}
	<!-- no featured image, loading default image -->
	<meta property="og:image" content="{{ "/assets/images/alapeanutbuttersandwiches.jpg" | prepend: site.baseurl }}" />
	<meta name="twitter:image:src" content="{{ "/assets/images/alapeanutbuttersandwiches.jpg" | prepend: site.baseurl }}">
	<meta name="twitter:card" content="summary_large_image">
	{% endif %}
	<meta name="twitter:site" content="@archondigital">
	<link rel="author" href="https://plus.google.com/google-plus-profile-id/posts"/>
	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% else %}
	<meta name="keywords" content="Archon Digital, World Domination and the Internet">
	{% endif %}
	
	<!-- pinterest verification -->
	<meta name="p:domain_verify" content="987601f543e8047e2244bd1f76e96caa"/>

	<link rel="stylesheet" href="{{ "/assets/css/app.css" | prepend: site.baseurl }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

    <script src="{{ "/assets/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>

	{% include scripts-head.html %}

</head>


