<div id="modal-partners" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Partners and Blogroll.</h2>
  <p class="lead">This is where I place tracking widgets of blog networks such as those listed below.</p>
  <p><a href="http://www.topblogs.com.ph/web-development/"><img style="border:none;" src="http://www.topblogs.com.ph/track_7510.gif" alt="Web Development & Design - Top Blogs Philippines" /></a></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
