<script src="{{ site.url }}/assets/bower_components/foundation/js/vendor/jquery.js"></script>
<script src="{{ site.url }}/assets/bower_components/foundation/js/vendor/fastclick.js"></script>
<script src="{{ site.url }}/assets/bower_components/foundation/js/foundation.min.js"></script>

<script src="{{ site.url }}/assets/js/vendor/jquery.stellar.min.js"></script>

<script src="{{ site.url }}/assets/js/vendor/waypoints.min.js"></script>
<script src="{{ site.url }}/assets/js/vendor/waypoints-sticky.min.js"></script>


<script>
// foundation
$(document).foundation();

// load clearing lightbox with hash #clearing
$(function(){
   if (window.location.hash){
      var hash = window.location.hash.substring(1);
      if (hash == "photo"){
         $('ul[data-clearing] li a').first().click();
      }
   }
});

$(document.body).on("opened.fndtn.clearing", function(event) {
  $( ".link-to-post" ).click(function() {
    document.location.href=$(this).attr("href");
  });
});

$(document.body).on("closed.fndtn.clearing", function(event) {
  $( ".link-to-post" ).hover(function() {
    document.location.reload();
  });  
});

// stellar
$.stellar();

// scrollTop
$('a[href*=#]:not([href=#])').click(function() {
	if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	  var target = $(this.hash);
	  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	  if (target.length) {
	    $('html,body').animate({
	      scrollTop: target.offset().top
	    }, 500);
	    return false;
	  }
	}
});

</script>

<!-- Google +1 -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Stumbleupon -->
<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>

<!-- Pinterest -->
<!-- {% if template != blog_by_tag %}
<script async defer data-pin-hover="true" data-pin-tall="true" data-pin-color="red" src="//assets.pinterest.com/js/pinit.js"></script>
{% else %}
<script async defer data-pin-color="red" src="//assets.pinterest.com/js/pinit.js"></script>
{% endif %} -->

<!-- BuySellAds On-Site Shopping Cart -->
<!-- <script src="//s3.buysellads.com/ac/sitecart.js" id="bsasitecart" data-site="30530"></script> -->

<!-- new disqus -->
<script id="dsq-count-scr" src="//archondigital.disqus.com/count.js" async></script>
