<!-- <div>
	<h3><small>Upcoming Newsletter</small></h3>
	<a class="button success medium" href="#" data-reveal-id="modal-subscribe" rel="bookmark">Subscribe Now</a>
</div>

<div id="modal-subscribe" class="reveal-modal small" data-reveal>

	<h3>Sign up for our upcoming newsletter.</h3>
	<p>Archon Digital's email newsletter is still in the design, testing and content development phase.</p>

	<p>After signing up, you will receive a confirmation email that you will need to click through to confirm your subscription.</p>
  
	<form action="http://e.archondigital.com/t/j/s/mdtkku/" method="post">
	    
		<label for="fieldName">Name</label>
        <input id="fieldName" name="cm-name" type="text" />

		<label for="fieldEmail">Email</label>
        <input id="fieldEmail" name="cm-mdtkku-mdtkku" type="email" required />

		<button class="button success medium" type="submit">Subscribe</button>

	</form>  
  
  <a class="close-reveal-modal">&#215;</a>
</div>
 -->