<div id="about" class="about fullscreen" data-stellar-background-ratio="0.3">
	<div class="panel">
		<h1>About</h1>
		<div class="row fullwidth">
			<div class="large-4 columns large-push-2 text-right">
				
			</div>
			<div class="large-4 large-pull-2 columns">
				<h2>Hi, I'm Jon, I run Archon Digital.</h2>
				<p>I'm a graphic designer who started in print before shifting to design and development on the web.</p>

				<p>Since 2005, I've been doing websites and tinkering with servers both during work and in my free time. I also still dabble in print every now and then and still dreams of having my own letterpress.</p>

				<p>I currently work in the Presidential Communications Development and Strategic Planning Office as technical lead in the development of the <a href="http://www.gov.ph">Official Gazette PH</a>, <a href="http://data.gov.ph">Open Data PH</a> and its other online initiatives.</p>
			</div>
		</div>	
	</div>
</div>