---
title: This is not the Rey you're looking for
title_secondary: Star Wars
author: Jon Cuevas
layout: post-custom
permalink: /articles/star-wars-rey/
excerpt: "Read this article about Rey just now, an interesting fan theory on who Rey is. Click through and read up. Spoilers are all over the article, so if you're brave and haven't seen the movie yet, it's all up to you."
featured_image: /assets/images/articles/rey-starwars.jpg
featured_image_thumb: /assets/images/articles/rey-starwars-thumb.jpg
background_position: bottom center
bg_color: 'rgba(0, 0, 0, .6);'
text_color: light
comments: true
disqus_identifier: star-wars-rey-007-s2015
tags: [Star Wars, Movies, Rey Langit, Videos]
---

{% include head.html %}

<!-- custom css begin -->
<style type="text/css">
  html,body {overflow: scroll; background: #000;}
  #content {padding-bottom: 200px}
  #content p {color: #fff; font-size: 110%;}
  #content img {margin-bottom: 2rem;}
  #content p.lead {color: #fff; font-size: 160%;}
  #content a {color: #fffbe1; text-decoration: underline; }
</style>  
<!-- custom css end -->
</head>

<body>
{% include analytics.html %}
{% include scripts-body.html %}
{% include header.html %}

  <div id="content">
    <div class="row">
      <div class="large-centered large-8 columns">
        <h1 class="hide">Star Wars: This is not the Rey you're looking for</h1>
        <img src="/assets/images/articles/rey-starwars.jpg">    
      </div>
    </div>

    <div class="row">
      <div class="large-centered large-8 columns">
        <p class="lead">I know, this is not the Rey you're looking for.</p>
        
        <p>Read this article about Rey just now, an <a href="http://www.inquisitr.com/2649390/star-wars-rey-theory-claims-to-know-who-she-is-and-it-will-floor-you/" target="_blank">interesting fan theory on who Rey is</a>. Click through and read up. Spoilers are all over the article, so if you're brave and haven't seen the movie yet, it's all up to you.</p>      

        <div class="flex-video">
          <iframe width="960" height="720" src="http://www.youtube.com/embed/sGbxmsDFVnE?wmode=transparent&amp;autohide=1&amp;egm=0&amp;hd=1&amp;iv_load_policy=3&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;showsearch=0&amp;theme=light" frameborder="0" allowfullscreen></iframe>
        </div>        

        <p class="small">Note: (to those who cannot relate to the image) The Rey in this photo is that of Rey Langit, a broadcast journalist in the Philippines.</p>

      </div>
    </div>
  </div>

  <div class="panel">
    <div class="row">
      <div class="large-12 columns">
        {% include snippet-tags-post.html %}
        {% include snippet-social.html %}
      </div>
    </div>
    {% include comments-dark.html %}    
  </div>

  {% include footer.html %}
  {% include scripts-footer.html %}

</body>
