---
layout: default
---
<div class="post h-entry">
	<span id="photo"></span>
	<header class="post-header">
		<div class="row">
		  	<div class="large-12 columns">
			  	<h1 class="entry-title p-name">{{ page.title }}</h1>
		  	</div>  		
		</div>
		<div class="row">
			<div class="large-12 columns">
				{% include entry-meta.html %}
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				{% include snippet-social.html %}
			</div>
		</div>
	</header>
	<!-- for tags -->
	{% assign post = page %}
	<!-- for tags end -->
	<article class="post-content entry-content e-content">
		<div class="row">
			<div class="large-8 columns">
				<ul class="clearing-thumbs clearing-feature" data-clearing>
					<li class="clearing-featured-img">
					  <a href="{{ page.featured_image | prepend: site.baseurl }}">
					  <img title="{{ page.title }}" alt="{{ page.title }}. {{ page.excerpt }}" src="{{ page.featured_image | prepend: site.baseurl  }}" {% if page.excerpt %}data-caption="{{ page.excerpt }}"{% else %} data-caption="{{ page.title }}"{% endif %} />
					  </a>
					</li>
				{% if page.gallery_content %}
					{% for pic in page.gallery_content %}
					<li>
						<a href="{{ pic.url | prepend: site.baseurl }}">
						<img title="{{ pic.label }}" alt="{{ pic.label }}" src="{{ pic.url | prepend: site.baseurl  }}" data-caption="{{ pic.label }}. {{ pic.caption }}" />
						</a>
					
					</li>
					{% endfor %}
				{% else %}
				{% endif %}
				</ul>  
			</div>
			<div class="large-4 columns">
				{{ content }}
				
			{% if page.gallery_content %}
				
				<h4>Gallery</h4>
				<ul class="clearing-thumbs large-block-grid-3 medium-block-grid-2 small-block-grid-2" data-clearing>
					<li>
					  <a class="th" href="{{ page.featured_image | prepend: site.baseurl }}" style="max-height:120px; overflow:hidden;">
					  <img title="{{ page.title }}" alt="{{ page.title }}. {{ page.excerpt }}" src="{{ page.featured_image | prepend: site.baseurl  }}" {% if page.excerpt %}data-caption="{{ page.excerpt }}"{% else %} data-caption="{{ page.title }}"{% endif %} />
					  </a>
					</li>

					{% for pic in page.gallery_content %}
					<li>
						<a class="th" href="{{ pic.url | prepend: site.baseurl }}" style="max-height:120px; overflow:hidden;">
						<img title="{{ pic.label }}" alt="{{ pic.label }}" src="{{ pic.url | prepend: site.baseurl  }}" data-caption="{{ pic.label }}. {{ pic.caption }}" />
						</a>
					
					</li>
					{% endfor %}

				</ul>			

			{% else %}
			{% endif %}
			</div>
		</div>
	</article>
	
	<div class="row">
		<div class="large-12 columns">
			<hr>
			{% include snippet-tags-post.html %}
			{% include snippet-social.html %}		
		</div>
	</div>
	
	{% include comments.html %}

</div>