---
layout: default
---
<div class="post">

	<header class="post-header">
		<div class="row">
		  	<div class="large-12 columns">
			  	<h1>{{ page.title }}</h1>
		  	</div>  		
		</div>
		<div class="row">
			<div class="large-3 columns">
				<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>	
			</div>
			<div class="large-9 columns">
				{% include snippet-social.html %}
			</div>
		</div>

	</header>

	
	<article class="post-content">
		<div class="row">
			<div class="large-12 columns">
				{{ content }}			
				<hr>
			</div>
		</div>
	</article>
	
	<div class="row">
		<div class="large-12 columns">
			{% include snippet-social.html %}		
		</div>
	</div>
	
	{% include comments.html %}

</div>