---
layout: default
---
<div class="post h-entry fullscreen hide-for-small" style="background: url({{ page.featured_image | prepend: site.baseurl  }}); background-size:cover;background-repeat:no-repeat;background-position:{{ page.background_position }};">



	
	
		<div class="row">
			<div class="large-8 columns hide-for-medium-up">
				  
			</div>
			<div class="large-4 columns">

				<header class="post-header">
					<div class="row">
					  	<div class="large-12 columns">
						  	{% if page.title_hide == true %}
							{% else %}
								<h1 class="entry-title p-name">{% if page.title_secondary %}<small>{{ page.title_secondary }}:</small><br>{% endif %}{{ page.title }}</h1>
							{% endif %}
					  	</div>  		
					</div>
				</header>
				<!-- for tags -->
				{% assign post = page %}
				<!-- for tags end -->	
				<article class="post-content entry-content e-content">
				{% if page.intro_description %}
					<p>{{ page.intro_description }}</p>
				{% else %}
				{% endif %}
				
				{% if page.intro_quote %}
					<blockquote>
						<p class="lead">
							"{{ page.intro_quote }}"
						</p>
						<cite>
							{% if page.intro_cite_url %}
							<a target="_blank" href="{{ page.intro_cite_url }}">{{ page.intro_cite }}</a>
							{% else %}
								{{ page.intro_cite }}
							{% endif %}
						</cite>
					</blockquote>
				{% else %}
				{% endif %}

				</article>
			
			</div>
		</div>
	
	<span id="more" style="position:absolute;bottom:2rem;"></span>
	<span id="photo"></span>
</div>

	<div class="show-for-small">
		<img title="{{ page.title }}" alt="{{ page.title }}. {{ page.excerpt }}" src="{{ page.featured_image | prepend: site.baseurl  }}" />
		<header class="post-header">
			<div class="row">
			  	<div class="large-12 columns">
					{% if page.title_hide == false %}
						<h1 class="entry-title p-name">{% if page.title_secondary %}<small>{{ page.title_secondary }}:</small><br>{% endif %}{{ page.title }}</h1>
						<a href="#more" class="more"><i class="fa fa-angle-down fa-5x"></i></a>
					{% else %}
						
					{% endif %}
			  	</div>  		
			</div>


		</header>

		<article class="post-content entry-content e-content">
			{% if page.intro_description %}
				<p>{{ page.intro_description }}</p>
			{% else %}
			{% endif %}
			
			{% if page.intro_quote %}
				<blockquote>
					<p class="lead">
						"{{ page.intro_quote }}"
					</p>
					<cite>
						{% if page.intro_cite_url %}
						<a target="_blank" href="{{ page.intro_cite_url }}">{{ page.intro_cite }}</a>
						{% else %}
							{{ page.intro_cite }}
						{% endif %}
					</cite>
				</blockquote>
			{% else %}
			{% endif %}
		</article>		
	</div>
	<div class="row">
		
		<div class="large-12 columns">
			<div class="row">
				<div class="large-6 columns">
					
				</div>
			</div>
			{% if page.title_hide == true %}
				<h1 class="entry-title p-name">{% if page.title_secondary %}<small>{{ page.title_secondary }}:</small><br>{% endif %}{{ page.title }}</h1>
				<a href="#more" class="more"><i class="fa fa-angle-down fa-5x"></i></a>
				
			{% else %}
				
			{% endif %}
			<br>
			{% include entry-meta.html %}
		</div>
	</div>

	<div class="row">
		<div class="large-2 columns hide-for-small">
			<ul class="clearing-thumbs clearing-feature" data-clearing>
				<li class="clearing-featured-img">
				  <a href="{{ page.featured_image | prepend: site.baseurl }}">
				  <img title="{{ page.title }}" alt="{{ page.title }}. {{ page.excerpt }}" src="{{ page.featured_image | prepend: site.baseurl  }}" {% if page.excerpt %}data-caption="{{ page.excerpt }}"{% else %} data-caption="{{ page.title }}"{% endif %} />
				  </a>
				  <br><small class="caption">Click on image to view{% if page.gallery_content %} gallery{% endif %}.</small>
				</li>
			{% if page.gallery_content %}
				{% for pic in page.gallery_content %}
				<li>
					<a href="{{ pic.url | prepend: site.baseurl }}">
					<img title="{{ pic.label }}" alt="{{ pic.label }}" src="{{ pic.url | prepend: site.baseurl  }}" data-caption="{{ pic.label }}. {{ pic.caption }}" />
					</a>
				
				</li>
				{% endfor %}
			{% else %}
			{% endif %}
			</ul>
		</div>
		<div class="large-6 columns">
			{{ content }}
		</div>
		<div class="large-4 columns">
			{% include adzone01.html %}
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<hr>
			{% include snippet-tags-post.html %}
			{% include snippet-social.html %}		
		</div>
	</div>
	
	{% include comments.html %}